#header{
	font-family: Trebuchet MS;
	font-weight: bold;
	font-size: 30px;
}	

#textheader{
	text-align: right;
}
.logo{
	width: 150px;
	height: 150px;
}

.colorp{
	color: #f7563c;
}

.colorc{
	color: #3374d5;
}

.onglets{
	background-color: #f7563c;
	vertical-align: text-top;
}
