/***************
 * CSS Général * 
 ***************/


body{
	display:block;
	width:955px;
	font-family: "Trebuchet MS";
	margin:0 auto;
	padding:0;
	border:none;
	overflow:hidden;
	text-decoration:none;
	color:black;
	background-image:url('../img/Transparent.png');
	font-size: 20px;
	overflow:scroll;
}

hr{
	margin:0;
}
/***********************************************************************
 * VARIABLE A REMPLACER                                                *
 * Tout ce qui possède cette class doit être changer par des variables *
 ***********************************************************************/

.toReplace{
	color:green;
}

/*********************
 * Contenu principal *
 *********************/

#header{
	height:140px;
	padding:10px;
}

#main{
	padding:10px;
}

#footer{
	height:50px;
	text-align:center;
	font-size:12px;
}

/******
 * ID *
 ******/

#headLeft{
	font-size:20px;
	float:left;
}

#headRight{
	float:right;
}

#infoCarrier{
	font-size:16px;
	float:right;
	clear:both;
}

#infoShop{
	font-size:14px;
	margin-top:27px;
	float:right;
	clear:both;
}

#headInfoTable{
	border-collapse:separate;
	text-align:center;
}

#menuTable{
	border-collapse:collapse;
	text-align:center;
	background-color:#FBBBB1;
	width:100%;
	text-align:center;
}

/*****************
 * Class Général *
 *****************/

.alignCenter{
	text-align:center;
}

.inlineBlock{
	display:inline-block;
}

.marginCenter{
	margin:0 auto;
}

.colorBlue{
	color: #3374d5;
}

.colorPink{
	color: #f7563c;
}

.colorRed{
	color: #ff0000;
}

.colorYellow{
	color: #ffff00;
}

.colorBrown{
	color: #580400;
}

.floatLeft{
	float:left;
}

.floatRight{
	float:right;
}

.clearBoth{
	clear:both;
}

.bold{
	font-weight:bold;
	font-size: 40px;
}

.italic{
	font-style:italic;
}

.verticalAlignT{
	vertical-align:top;
}

.verticalAlignM{
	vertical-align:middle;
}

.verticalAlignB{
	vertical-align:bottom;
}

/*************
 * Autres... *
 *************/

.headInfoTd{
	background-color:#EDF2FA;
}

.menuTd{
	border:1px solid #000000;
	font-weight:bold;
}

.menuTdHover{
	background-color:#f7563c;
}

.menuLink{
	text-decoration:none;
	color:black;
	float:right;
}

.titleCategory{
	width:100%;
	text-decoration:underline; 
}

.productSelect{
	width:22%;
	border:1px solid black;
	display:inline-block;
	text-align:center;
}

.productName{
	font-size:11px;
	width:100%;
	border-bottom:1px solid black;
	text-decoration:underline;
}

.productDetail{
	font-size:10px;
	font-weight:bold;
	background-color:#87B3F8;
}

.imageProduct{
	margin-top:2px;
	text-align:center
}

.addProduct{
	font-size:10px;
	cursor:pointer;
}

.categoryContainer{
	max-height:250px;
	overflow-y:scroll;
}

.margintop85{
	margin-top:85px;
}
.groupe{
	border-collapse: collapse;
	display: inline-block;	
}
.cadrehead{
	border:2px solid #404080;
	background-color:#ccdafe;
	color:#404080;
}
.cadreimpaire{
	background-color:#c1f7aa;
	border:2px solid #004000;
	font-weight:bold;
}
.cadrepaire{
	background-color:#99ad99;
	border:2px solid #004000;
}
.raw{
	border:1px solid #004000;
}

.margecadre{
    display: inline-table;
    margin-top: 50px;
}

.menuleft{
	background-color:#ccdafe;
	width:10%;
	height:650px;
	display: inline-block;
	vertical-align:text-top;
	vertical-align:top;
	margin-right: 20px;
}

.textmenuleft{
	
	color:#0000ff;
	font-size:15px;
}

.titremenuleft{
	color:#0000ff;
	font-size:20px;
	line-height:50px;
}

.col1{
	color:#004000;
}

.tableaux{
	display:inline-block;
	width:87%;
}

.ketchup{
	background-color:#ff0000;
}

.piment{
	background-color:#580400;
}

.mayo{
	background-color:#ffff00;
}
