/***************
 * CSS Général *
 ***************/

html {
	background-color: #0099CC;
	font-size:16px;
}
body {
	display: block;
	width: 520px;
	font-family: "TrebuchetMS";
	margin: 0 auto;
	padding: 0;
	border: none;
	text-decoration: none;
	color: black;
	background-image: url('../img/Transparent.png');
}
hr {
	margin: 0;
}

/***********************************************************************
 * VARIABLE A REMPLACER                                                *
 * Tout ce qui possède cette class doit être changer par des variables *
 ***********************************************************************/

.toReplace {
	color: green;
}

/*********************
 * Contenu principal *
 *********************/
#header {
	height: 140px;
	padding: 10px;
}
#main {
	padding: 10px;
}
#footer {
	height: 50px;
	text-align: center;
	font-size: 12px;
}
#welcome {
	text-shadow: 4px 2px 5px #000000;
	font-family: "Cambria", sans-serif;
	font-size: 20px;
}

/******
 * ID *
 ******/

#headLeft {
	font-size: 20px;
	float: left;
}
#headRight {
	float: right;
}
#infoCarrier {
	font-size: 16px;
	float: right;
	clear: both;
}
#infoShop {
	font-size: 14px;
	margin-top: 27px;
	float: right;
	clear: both;
}
#headInfoTable {
	border-collapse: separate;
	text-align: center;
}
#menuTable {
	border-collapse: collapse;
	text-align: center;
	background-color: #FBBBB1;
	width: 100%;
}

#panierTable{
	border-collapse: collapse;
	width: 100%;
}
/*****************
 * Class Général *
 *****************/

.cursorPointer {
	cursor: pointer;
}
.alignCenter {
	text-align: center;
}
.alignLeft {
	text-align: left;
}
.alignRight {
	text-align: right;
}
.inlineBlock {
	display: inline-block;
}
.marginCenter {
	margin: 0 auto;
}
.colorBlue {
	color: #3374d5;
}
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
.clearBoth {
	clear: both;
}
.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.verticalAlignT {
	vertical-align: top;
}
.verticalAlignM {
	vertical-align: middle;
}
.verticalAlignB {
	vertical-align: bottom;
}

/*************
 * Autres... *
 *************/

.text_welcome {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	display: inline-block;
	color: black;
	text-decoration: none;
	padding: 2px;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#045FB4));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.headInfoTd {
	background-color: #8DE7FC;
	border: inherit 5px #000000;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.menuTd {
	border: 1px solid #FA6952;
	font-weight: bold;
}
.menuTdHover {
	background-color: #FA6952;
}
.panierTd {
	border: 1px solid gray;
	background-color: #D3D3D3;
}
.panierTh {
	border: 1px solid gray;
	background-color: #8DE7FC;
	font-weight: bold;
}
.inputAmountPanier{
	width:60px;
}
.menuLink {
	text-decoration: none;
	color: black;
}
.titleCategory {
	width: 100%;
	text-decoration: underline;
}
.productSelect {
	width: 22%;
	border: 1px solid black;
	display: inline-block;
	text-align: center;
}
.productName {
	font-size: 11px;
	width: 100%;
	border-bottom: 1px solid black;
	background-color: #8DE7FC;
	text-decoration: underline;
}
.productDetail {
	font-size: 10px;
	font-weight: bold;
	background-color: #87B3F8;
}
.imageProduct {
	margin-top: 2px;
	text-align: center
}
.addProduct {
	font-size: 10px;
	cursor: pointer;
}
.categoryContainer {
	max-height: 250px;
	overflow-y: scroll;
}
.infoOrder{
	font-size:11px;
	color:red;
}
.actualizePanier{
	width:40%;
}
.confirmPanier{
	width:40%;
}
