#header {
	font-family: TrebuchetMS;
}
.head {
	font-size: 20px;
	position: absolute;
}
#boutique {
	position: absolute;
	top: 70px;
	left: 130px;
}
#b {
	position: absolute;
	top: 0px;
	left: -10px;
	color: #3374d5;
}
#menuHeader {
	border: 1px solid #999;
	border-collapse: separate;
	position: absolute;
	top: 110px;
}
footer {
	background-color: black;
}
s/* Liens par défaut (non survolés) */ {
	text-decoration: none;
	color: red;
	font-style: italic;
}
s:hover/* Apparence au survol des liens */ {
	text-decoration: underline;
	color: green;
}
